.aniro_hidden {
  opacity: 0;
  transition:
    opacity .3s linear;
}

.aniro_active {
  animation: aniro .3s;
  opacity: 1;
}

@keyframes aniro {
  from {
    transform: translateY(20px);
  } to {
    transform: translateY(0);
  }
}
