.aniro_hidden {
  opacity: 0;
  will-change: opacity transform;
  transition: opacity .5s;
}

.aniro_active {
  animation: aniro .5s cubic-bezier(.25, .8, .25, 1);
  opacity: 1;
}

@keyframes aniro {
  from {
    transform: translateY(50px);
  } to {
    transform: translateY(0);
  }
}
