:root {
  font-family: 'Work Sans', sans-serif;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

header {
  position: sticky;
  top: 0;
}

p {
  max-width: 500px;
}

.page {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.advantage {
  max-width: 200px;
  margin: 30px;
}

.pillbox {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: center;
}

img {
  width: 200px;
}
